{% extends "todo/base.html" %}

{% block title %}
    About Page
{% endblock title %}

{% block content %}
    <div class="jumbotron jumbotron-fluid"
         style="background-color:chartreuse; padding:3rem">
        <div class="container">
            <h1 class="display-4">
                <center>TODO APP</center>
            </h1>
            <p class="lead"><center>This is a django application to track your TODOs.</center></p>
            <p class="lead"><center>Acayip bi uyulama</center></p>
            <p class="lead"><center>Kesin kullanin</center></p>
            <p class="lead"><center>Waowww</center></p>
        </div>
    </div>
{% endblock content %}
