{% extends "todo/base.html" %}
{% block title %}
    Create Page
{% endblock title %}
{% block content %}
    <div class="jumbotron jumbotron-fluid"
         style="background-color:aqua; padding:3rem">
        <div class="container">
            <h1 class="display-4">
                <center>TODO List</center>
            </h1>
            <p class="lead">
                <center>This is a django application to track your TODOs.</center>
            </p>

            <div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label">TODO Title</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Title" name="title">
                      </div>
                    </div>
                    <br>
                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Description</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Description" name="description">
                      </div>
                    </div>
                    <br>
                    <div class="form-group row">
                      <div class="col-sm-10">
                        <button type="submit" class="btn btn-outline-success">Update</button>
                      </div>
                    </div>
                  </form>
            </div>
        </div>
    </div>
{% endblock content %}
